<ion-view view-title="新闻" cache-view="false">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="scrollToTop()" >回到顶部</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
        </ion-refresher>
        <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="item in items" item="item" href="javascript:void(0);" class="item-remove-animate" ng-click="view(item)" >
                <div>news title: {{ item.newsTitle }}</div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
