@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);
/* Empty. Add your own CSS if you like */
.bar.bar-stable .title {
    color: #fff;
}
.bar.bar-stable {
    background-color: #ACADC4;
}
.item-thumbnail-right{
    padding-top: 25px;
}
.col {
    text-align: center;
    color:#fff;
}
.darkGreenBg{
    background: #011E22;
}
.secondDarkGreenBg{
    background: #0F353B;
}
.boderNone{
   border: none;
}
.tabs.tab-nav{
	background-color: rgb(172, 173, 196);
}
.col img{
	border-radius: 50%;
}
